In [1]:
a=5
print("the type of a",type(a))

the type of a <class 'int'>

In [2]:
b=40.5
print("the type of b",type(b))

the type of b <class 'float'>

In [3]:
c=1+3j
print("the type of c",type(c))

the type of c <class 'complex'>

In [4]:
str1= 'hello PythonLearners'
str2 = 'how are you' 
print(str1[0:2])
print(str1[4])
print(str1*2)
print(str1+str2)

he
o
hello PythonLearnershello PythonLearners
hello PythonLearnershow are you

In [5]:
list1 = [1,"hi","Python",2]
print(type(list1))

<class 'list'>

In [6]:
list1=["abcd", 1234]
list1.append("hi")
print(list1)
list1.insert(2,"sne" )
print(list1)

['abcd', 1234, 'hi']
['abcd', 1234, 'sne', 'hi']

In [2]:
r=[1,2,3,4]
n=['a', 'b','c', 'd', 'e', 'o']
data = list(zip(r,n))
print(data)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [3]:
tup=("hi", "python", 2)
print(type(tup))
print(tup)
print(tup[1:])
print(tup[0:1])
print(tup+tup)
print(tup*3)
tup[2]= 'hi'

<class 'tuple'>
('hi', 'python', 2)
('python', 2)
('hi',)
('hi', 'python', 2, 'hi', 'python', 2)
('hi', 'python', 2, 'hi', 'python', 2, 'hi', 'python', 2)

TypeError: ignored

In [4]:
d= {101: 'jimmy', 102:'Alex', 103: 'john'}
print(d)
print(d.keys())
print(d.values())
copied_dict= d.copy()
print(copied_dict)
del d[102]
d

{101: 'jimmy', 102: 'Alex', 103: 'john'}
dict_keys([101, 102, 103])
dict_values(['jimmy', 'Alex', 'john'])
{101: 'jimmy', 102: 'Alex', 103: 'john'}

{101: 'jimmy', 103: 'john'}

In [5]:
print('1st name is' +d[103])

1st name isjohn

In [6]:
print(type(True))
print(type(False))
print(False)
print(false)

<class 'bool'>
<class 'bool'>
False

NameError: ignored

In [7]:
set1= set()
set2 = {'james',2,3,'python','james',2,3}
print(set2)
set2.add(10)
print(set2)
set2.remove(2)
print(set2)

{'james', 2, 3, 'python'}
{'james', 2, 3, 'python', 10}
{'james', 3, 'python', 10}